@{
    ViewBag.Title = "About";
}
<div class="divLog">
    <h4>Asrat D. Zewde</h4> <br />
        <details>
            <summary>
                <strong>Full Stack .NET MVC Web Developer</strong><br />
                <p>
                    <em>
                        Back-end:<br />
                        SQL SERVER, Entity Framework, MVC 4,5, and 6, and etc.
                    </em>
                </p>
                <p>
                    <strong>Front-end:</strong><br/>
                    <p>
                        jQuery, Angular, Bootstrap, and etc.
                    </p>
            </summary>
          


        </details>
</div>