
@{
    ViewBag.Title = "MongoDb";
}
<br />
<h4>This is a demonstration of Two way data access using angular and <em>Mongolab</em>.</h4>
<div class="divBoxM text-info">
    <h4>Coming Soon!</h4>
</div>
